database:
  dsn: "file::memory:?cache=shared&_foreign_keys=on"

jwt:
  secret: jwt_secret

azure:
  active: false
  tenantID: my_tenantID
  clientID: my_clientID
  clientSecret: my_clientSecret
  redirectURL: my_redirectURL
